body {
  margin: 0;
  background-color: #331800;
  color: #d5d5d5;
}

.container {
  margin: 2% 15%;
}
header {
  margin-bottom: 4%;
}

.nav {
  background-color: #1f0505e3;
  padding: 20px;
}
.nav-items {
  display: inline;
}
.current {
  color: white;
}

button {
  background: none;
  color: #969696;
  border: none;
  border-right: #7a2929 2px solid;
}

small {
  color: #b49880;
}

.about {
  background-color: #326632;
  padding: 3%;
  height: 120px;
}

img {
  max-width: 300px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.text-part {
  margin-left: 40px;
  max-width: 60%;
  float: left;
}
.image-part {
  float: left;
  display: inline;
}
