body {
  margin: 0;
  background-color: #331800;
  color: #d5d5d5;
}

.container {
  margin: 2% 15%;
  margin-bottom: 0px;
}
header {
  margin-bottom: 4%;
}

.nav {
  background-color: #1f0505e3;
  padding: 20px;
}
.nav-items {
  display: inline;
  font-size: 1rem;
  background: none;
  color: #969696;
  border: none;
  border-right: #7a2929 2px solid;
}
.current {
  color: white !important;
}

small {
  color: #b49880;
  margin-left: 10px;
}

.about {
  background-color: #326632;
  padding: 3%;
  height: 125px;
}

img {
  max-width: 300px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.text-part {
  margin-left: 40px;
  max-width: 45%;
  float: left;
}
.image-part {
  float: left;
  display: inline;
}

.index {
  background-color: #324932;
  margin-top: 10px;
  padding: 30px;
  width: 40%;
}

.index-items {
  background: none;
  color: #cec3c3;
  border: none;
  border-bottom: white 2px solid;
  display: block;
  padding: 13px;
  padding-left: 0;
  text-align: left;
  min-width: 140px;
  font-size: 1rem;
}

.content {
  color: black;
  padding: 45px;
  padding-top: 30px;
  margin-top: 10px;
  background-color: #b8b596;
}
